table, th, td {
    border: 1px solid white;
}

h3 {
    text-align: center;
}

table {
    margin: auto;
    background: white;
    border: 0 none;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.4);
    width: 800px;
    padding: 5%;
    box-sizing: border-box;
}

th {
    text-align: left;
}