<h3>List of Cats</h3>
<table>
    <tr>
        <th>Breed</th>
        <th>Location</th>
        <th>Body type</th>
        <th>Pattern</th>
    </tr>
    <tr *ngFor=" let cls of cat01">
        <td>{{cls.breed}}</td>
        <td>{{cls.location}}</td>
        <td>{{cls.bodytype}}</td>
        <td>{{cls.Pattern}}</td>
    </tr>
    <tr *ngFor=" let cls of cat02">
        <td>{{cls.breed}}</td>
        <td>{{cls.location}}</td>
        <td>{{cls.bodytype}}</td>
        <td>{{cls.Pattern}}</td>
    </tr>
    <tr *ngFor=" let cls of cat03">
        <td>{{cls.breed}}</td>
        <td>{{cls.location}}</td>
        <td>{{cls.bodytype}}</td>
        <td>{{cls.Pattern}}</td>
    </tr>
</table>

<h3>List of Dogs</h3>
<table>
    <tr>
        <th>Breed</th>
        <th>Location</th>
        <th>Coat</th>
        <th>Color</th>
    </tr>
    <tr *ngFor=" let cls of dog01">
        <td>{{cls.breed}}</td>
        <td>{{cls.location}}</td>
        <td>{{cls.coat}}</td>
        <td>{{cls.color}}</td>
    </tr>
    <tr *ngFor=" let cls of dog02">
        <td>{{cls.breed}}</td>
        <td>{{cls.location}}</td>
        <td>{{cls.coat}}</td>
        <td>{{cls.color}}</td>
    </tr>
    <tr *ngFor=" let cls of dog03">
        <td>{{cls.breed}}</td>
        <td>{{cls.location}}</td>
        <td>{{cls.coat}}</td>
        <td>{{cls.color}}</td>
    </tr>
</table>





