/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
    font-family: Courier;
    background-attachment: fixed;
}

